<footer id="contactos">
    <!-- Sección instituciones -->
    <div style="background-color: #11432D; color: white; font-size: 0.85rem; text-align: center;">
      <h3 class="mb-3"><b>Instituciones</b></h3>
    </div>
    <div class="bg-white text-success py-3 text-center footer-carousel">
      <div id="carouselExampleDark" class="carousel slide carousel-dark" data-bs-ride="carousel">
        <div class="carousel-inner">
          
          <!-- Slide 1 -->
          <div class="carousel-item active" data-bs-interval="3000">
            <div class="d-flex flex-wrap justify-content-center align-items-center">
              <img src="../../static/images/instituciones/armada-colombia.png" class="img-fluid m-2" style="max-height: 90px;" alt="Logo 1">
              <img src="../../static/images/instituciones/celsia-vertical.png" class="img-fluid m-2" style="max-height: 90px;" alt="Logo 2">
              <img src="../../static/images/instituciones/cotecmar.png" class="img-fluid m-2" style="max-height: 90px;" alt="Logo 3">
              <img src="../../static/images/instituciones/Imagen final 2020-1-transparencia.png" class="img-fluid m-2" style="max-height: 7.5rem;" alt="Logo 4">
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" data-bs-interval="3000">
            <div class="d-flex flex-wrap justify-content-center align-items-center">
              <img src="../../static/images/instituciones/LOGO ITM 2020-05.png" class="img-fluid m-2" style="max-height: 90px;" alt="Logo 5">
              <img src="../../static/images/instituciones/Logo Prometeus Color.png" class="img-fluid m-2" style="max-height: 90px;" alt="Logo 6">
              <img src="../../static/images/instituciones/logo-smart-city.png" class="img-fluid m-2" style="max-height: 90px;" alt="Logo 7">
            </div>
          </div>

        </div>

        <!-- Flechas -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </div>




    <!-- Sección superior -->
    <div style="background-color: #D9D9D9; padding: 2rem 1rem;">
        <div class="container">
            <div class="row d-flex justify-content-between align-items-start">

                <!-- Contacto -->
                <div class="col-md-8 mb-3" style="padding-left: 30rem;">
                  <h5 class="fw-bold">Contáctanos</h5>
                  <p><i class="bi bi-envelope"></i> tulato@unicesmag.edu.co</p>
                  <div class="row flex-nowrap">
                    <!-- Bloque amarillo con íconos -->
                    <div class="col-auto">
                      <div style="background-color: #F2B705; border-radius: 1rem; padding: 1rem; width: 200px;">
                        <h5 class="fw-bold" style="margin-bottom: 1rem;">Síguenos</h5>
                        <div class="d-flex justify-content-center align-items-center gap-3 mb-3">
                          <a href="https://www.facebook.com/profile.php?id=61575110215974" target="_blank"><img class="img-fluid" src="../../static/images/iconos/facebook.png" alt="Facebook"></a>
                          <a href="https://www.instagram.com/tulatoasc/?utm_source=ig_web_button_share_sheet" target="_blank"><img class="img-fluid" src="../../static/images/iconos/instagram.png" alt="Instagram"></a>
                          <a href="https://www.youtube.com/@tulato-proyecto4" target="_blank"><img class="img-fluid" src="../../static/images/iconos/youtube.png" alt="YouTube"></a>
                        </div>
                      </div>
                    </div>
                  
                    <!-- QR al ladito del bloque amarillo -->
                    <div class="col-auto d-flex align-items-center" style="min-width: 60%;">
                      <img class="img-fluid" src="../../static/images/iconos/QR.svg" alt="QR Code" style="max-width: 60%; height: auto;">
                    </div>
                    
                  </div>
                    
                </div>

                <!-- Enlaces -->
                <div class="col-md-3 mb-3">
                    <h5 class="fw-bold">Enlaces</h5>
                    <ul class="list-unstyled">
                    <li><a href="#" class="text-dark">Términos y condiciones</a></li>
                    <li><a href="#" class="text-dark">Política de privacidad</a></li>
                    <li><a href="#" class="text-dark">Política de envíos</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!-- Sección inferior -->
    <div style="background-color: #11432D; color: white; padding: 0.5rem 1rem; font-size: 0.85rem; text-align: center;">
    © Tulato. Todos los derechos reservados. Diseñado por Creado<br>
    Distribuido por: Universidad Cesmag
    </div>
</footer>


