{% block head %} {% include 'layouts/head.html' %} {% endblock %}
<body class="body-login">
    <header id="main-hader">
        <div class="imagen-center">
          <img src="../../static/images/autenticacion_registro/fondo-logo.svg" class="fondo-logo-login" alt="Logo fondo">
          <img src="../../static/images/logo.svg" class="logo-login" alt="Logo nav">
        </div>
    
        {% block navbar %} {% include 'layouts/navbar.html' %} {% endblock %}
    </header>
    <section id="section1-login" >
        <div class="container-fluid vh-100 " style="margin-bottom: 1rem;">
            <div class="row">
                <div class="col offset-md-7">
                    <div class="card card-formulario1 shadow p-5" style="border-radius: 5rem;margin-top: 6rem;">
                        <h4 class="text-start fw-bold mb-3 mt-3">¿Has olvidado tu contraseña?</h4>                
                        <!-- Contenedor de Alerta -->
                        <div id="alertRecuperar" class="text-start mt-3">
                          Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.
                        </div>
                        <form id="recuperar-form" method="POST" action="/autenticacion_registro/recuperar_password">
                          <div class="mb-3" style="margin-top: 1rem;">
                            <label for="email" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" id="email" name="email" maxlength="100" placeholder="Ingresa tu correo" required>
                          </div>  
                          <div class="d-grid mb-3">
                            <button type="submit" class="btn btn_submit">Restablecer contraseña</button>
                          </div>
                          <!-- hCaptcha -->
                          <div class="mb-3">
                            <div class="h-captcha" style="transform: scale(0.80);transform-origin: 0 0;" data-sitekey="1c52a558-28e4-4efa-a63a-1120f09ae17e"></div>
                          </div>
                          <p class="text-center text-muted mb-0" style="margin-top: 5rem;">
                            Regresar a <a href="/autenticacion_registro/inicio_sesion">Iniciar sesión.</a>
                          </p>                          
                        </form>
                    </div>                      
                </div>
            </div>
        </div>
    </section>
    {% block enlaces %} {% include 'layouts/enlaces.html' %} {% endblock %}
</body>